/*
Possible Color Pallates:
1. https://coolors.co/066839-0a5c36-0f5132-14452f-18392b-1d2e28-212224
2. https://coolors.co/b39c4d-768948-607744-34623f-1e2f23
*/

$green1: #066839;
$green2: #0A5C36;
$green3: #0F5132;
$green4: #14452F;
$green5: #18392B;
$green6: #1D2E28;
$green7: #212224;

.defaultGradientBG {
  background: rgb(29,46,40);
  background: linear-gradient(42deg, $green6 47%, $green7 100%);
}